{% extends 'base.html.twig' %}

{% block title %}Site CV Johan Desplats{% endblock %}

{% block body %}

{% include 'components/sidebar.html.twig' %}

    <div class="main" id="main">     <!--Div contenant l'intégralitée du CV-->

        <span class="burgerBtn" onclick="openNav()">&#9776;</span>
        <!--Bouton hamburger-->

        <div class="présentation col-12 row pb-5 rowSansPaddingR">
            <div class="offset-1 col-11 col-md-10 pb-2 nom">
                <h1 class="display-4 animated slideInRight" id="Etudes">Johan Desplats</h1>
                <p class="offset-2 resume animated slideInRight" >DÉVELOPPEUR WEB EN DEVENIR</p>
            </div>
            <div class="offset-1 col-11 col-md-10 pt-4">
                <p class="text-muted sitation">"L'enthousiasme est à la base de tout progrès."</p>
                <p class="offset-3">Henry Ford</p>
            </div>
        </div>

        <div class="row col-12 mb-5 rowSansPaddingR">
            <div class="offset-1 col-11 col-md-6">
                <h2 class="rubricTitle mb-4 petitNom">Cursus</h2>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Janvier 2018: </strong>
                    Entrée en formation Développeur Web - Limoges (87).
                </p>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2015 à 2017: </strong>
                    Apprentissage et emploi en Maroquinerie - Compagnons du Devoir et du Tour de France
                    - Maroquinerie de Luxe (Hermes, Louis Vuitton, Weston et Dior).
                </p>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2014 à 2015: </strong>
                    Licence L1 Arts Plastiques - Université Paris 1 Panthéon-Sorbonne (75).
                </p>
                <p class="cursusText mb-4">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2011 à 2014: </strong>
                    Baccalauréat Sciences et Technologies du Design et des Arts Appliqués - Lycée Raymond Loewy La Souterraine (23).
                </p>
                <h2 class="rubricTitle mb-4 petitNom">Diplômes Obtenus</h2>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong> BAC STDAA. </strong>
                </p>
                <p class="cursusText mb-4">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong> Brevet des Collèges </strong>
                </p>

                <h2 class="rubricTitle mb-4 petitNom">Comptétences Obtenus</h2>
                <div class="row col-12 rowCompetence">
                    <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-4">
                        <i class="fas fa-caret-right fa-sm redArrow"></i><strong>Design & Communication Visuelle</strong>
                    </p>
                    <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-4">
                        <i class="fas fa-caret-right fa-sm redArrow"></i><strong>Érgonomie</strong>
                    </p>
                    <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-4">
                        <i class="fas fa-caret-right fa-sm redArrow"></i><strong>Maquette Graphique</strong>
                    </p>
                </div>
            </div>

            <div class="offset-1 col-11 col-md-3 row rowSansPaddingR">
                <h2 class="rubricTitle mb-4 col-12 petitNom">Technologies</h2>

                {% for i in skill %}
                    <div class="row col-md-12 col-6 rowSansMargin">
                        <p class="cursusText col-md-6 col-12">
                            <strong class="redArrow"> {{ i.nom }}: </strong>
                        </p>
                        <p class="cursusText text-center skillStar offset-1 col-md-5 col-12">
                            {% if i.niveau == 3 %}
                                <i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i>
                            {% elseif i.niveau == 2 %}
                                <i class="fas fa-star fa-sm"></i><i class="fas fa-star fa-sm"></i><i class="far fa-star fa-sm"></i>
                            {% else %}
                                <i class="fas fa-star fa-sm"></i><i class="far fa-star fa-sm"></i><i class="far fa-star fa-sm"></i>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div classe="row col-12">
            <div class="offset-1 col-11 col-md-10">
                <h2 class="rubricTitle mb-4 petitNom" id="Travaux">Travaux</h2>
                <div class="row col-12">
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteUpload.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">File Uploader</h5>

                            <a href="" class="btn btn-secondary">Envoyer?</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteMeme.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Meme Generator</h5>

                            <a href="" class="btn btn-secondary">Créer?</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteBlog.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Blog</h5>

                            <a href="" class="btn btn-secondary">Essayer?</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteForum.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Forum</h5>

                            <a href="" class="btn btn-secondary">Regarder?</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteExplorer.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">File Explorer</h5>

                            <a href="" class="btn btn-secondary">Tester?</a>
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignettePong.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">PONG</h5>

                            <a href="" class="btn btn-secondary">Jouer?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div classe="row col-12">
            <div class="offset-1 col-11 col-md-10 mb-5">
                <a href="/contact" class="btn btn-light text-center offset-4 col-3">Tous les Projets</a>
            </div>
        </div>

        <div classe="row col-12">
            <div class="offset-1 col-11 col-md-10 mb-5">
                <h2 class="rubricTitle mb-4 petitNom" id="Langues">Langues</h2>
                <p>Français</p>
                <div class="skillContainer mb-3 p-1">
                    <div class="skills francais">98%</div>
                </div>

                <p>Anglais</p>
                <div class="skillContainer mb-3 p-1">
                    <div class="skills anglais">75%</div>
                </div>

                <p>Espagnol</p>
                <div class="skillContainer mb-3 p-1">
                    <div class="skills espagnol">50%</div>
                </div>
            </div>
        </div>

        <div classe="row col-12 mb-5">
            <div class="offset-1 col-11 col-md-10">
                <h2 class="rubricTitle mb-4 petitNom" id="Interets">Centres d'Intérets</h2>
                <div class="row col-12">
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="icon1 fas fa-gamepad fa-3x"></i>
                        <p>Jeu Vidéo</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-film fa-3x"></i>
                        <p>Cinéma</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-paint-brush fa-3x"></i>
                        <p>Arts et Design</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fab fa-rebel fa-3x"></i>
                        <p>Science-Fiction</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-cogs fa-3x"></i>
                        <p>SteamPunk</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-chess fa-3x"></i>
                        <p>Jeux De Roles</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
