{% extends 'base.html.twig' %}

{% block title %}Site CV Johan Desplats{% endblock %}

{% block body %}
<body>
    <div id="main">     <!--Div contenant l'intégralitée du CV-->

        <span style="font-size:30px; color: #2d2d2d; cursor:pointer; position: fixed; z-index: 2000;" onclick="openNav()">&#9776;</span>
        <!--Bouton hamburger-->

        <div class="présentation row pb-5">
            <div class="offset-1 col-10 pb-2 nom">
                <h1 class="display-4" id="Etudes">Johan Desplats</h1>
                <p class="offset-2 resume">APPRENTI DÉVELOPPEUR WEB</p>
            </div>
            <div class="offset-1 col-10 pt-4">
                <p class="text-muted sitation">"L'enthousiasme est à la base de tout progrès."</p>
                <p class="offset-3">Henry Ford</p>
            </div>
        </div>

        <div class="row mb-5 col-12">
            <div class="offset-1 col-10 col-md-6">
                <h2 class="rubricTitle mb-4 petitNom">Cursus</h2>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Janvier 2018: </strong>
                    Entrée en formation Développeur web - Aformac Limoges (87).
                </p>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2015 à 2017: </strong>
                    Apprentissage et emploie en Maroquinerie - Compagnons du Devoir et du Tour de France
                    - Maroquineries de Luxes (Hermes, Louis Vuitton, Weston et Dior).
                </p>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2014 à 2015: </strong>
                    Licence L1 Arts Plastiques - Universités Paris 1 Panthéon-Sorbonne (75).
                </p>
                <p class="cursusText mb-4">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> 2011 à 2014: </strong>
                    Baccalauréat Sciences et Technologies du Design et des Arts Appliqués - Lycée Raymond Loewy La Souterraine (23).
                </p>
                <h2 class="rubricTitle mb-4 petitNom">Diplômes Obtenus</h2>
                <p class="cursusText">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong> BAC STDAA. </strong>
                </p>
                <p class="cursusText mb-4">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong> Brevet des Collèges </strong>
                </p>
            </div>

            <div class="offset-1 col-10 col-md-3 row">
                <h2 class="rubricTitle mb-4 col-12 petitNom">Compétences</h2>
                <h4 class="subTitle mb-3 col-12 toutPetitNom">Technologies:</h4>

                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> HTML5: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> CSS3: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> JS: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> MySQL: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Bootstrap: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Photoshop: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Git: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> PHP: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Symfony4: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Jquery: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
                <p class="cursusText col-12 col-sm-6 col-md-12 col-lg-6">
                    <i class="fas fa-caret-right fa-sm redArrow"></i><strong class="redArrow"> Ajax: </strong>
                </p>
                <p class="cursusText text-right col-2 col-sm-6 col-md-2 col-lg-6">
                    Débutant
                </p>
            </div>
        </div>

        <div classe="row col-12">
            <div class="offset-1 col-10 mb-5">
                <h2 class="rubricTitle mb-4 petitNom" id="Travaux">Travaux</h2>
                <div class="row col-12">
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignettePong.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">PONG</h5>
                            <p class="card-text">Premier jeu vidéo multijoueur local réalisé à base d'HTML, de CSS et de JS.</p>
                            {# <a href="http://localhost/Projets%20Principaux/JeuVideal/TestPong/" class="btn btn-secondary">Jouer?</a> #}
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteExplorer.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">File Explorer</h5>
                            <p class="card-text">Explorateur des fichiers et dossiers de la machine sur laquelle il est déployé. Première utilisation d'Ajax.</p>
                            {# <a href="http://localhost/Projets%20Principaux/Explorateur/NavigateurBase/" class="btn btn-secondary">Tester?</a> #}
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteForum.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Forum</h5>
                            <p class="card-text">Projet type site forum basé sur les contraintes de design d'un autre groupe de la formation.</p>
                            {# <a href="http://localhost/Projets%20Principaux/SiteChaisesMusicales/SiteForum/html/template_main.php" class="btn btn-secondary">Regarder?</a> #}
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteBlog.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Blog</h5>
                            <p class="card-text">Site type blog métant en page des posts contenu dans une base de donnée et permettant d'en ajouter des nouveaux.</p>
                            {# <a href="http://localhost/Projets%20Principaux/BlogChatastrophique/" class="btn btn-secondary">Essayer?</a> #}
                        </div>
                    </div>
                    <div class="card col-12 col-md-4 col-lg-3 m-4">
                        <img class="card-img-top" src="image/vignetteMeme.png">
                        <div class="card-body">
                            <h5 class="card-title toutPetitNom">Meme Generator</h5>
                            <p class="card-text">Générateur de Meme (gags récurents d'internet) permettant de personnaliser une image et d'y intégrer un texte.</p>
                            {# <a href="http://localhost/exoMeme/" class="btn btn-secondary">Créer?</a> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div classe="row col-12">
            <div class="offset-1 col-10 mb-5">
                <h2 class="rubricTitle mb-4 petitNom" id="Langues">Langues</h2>
                <p>Français</p>
                <div class="skillContainer mb-3">
                    <div class="skills francais">100%</div>
                </div>

                <p>Anglais</p>
                <div class="skillContainer mb-3">
                    <div class="skills anglais">75%</div>
                </div>

                <p>Espagnol</p>
                <div class="skillContainer mb-3">
                    <div class="skills espagnol">50%</div>
                </div>
            </div>
        </div>

        <div classe="row col-12 mb-5">
            <div class="offset-1 col-10">
                <h2 class="rubricTitle mb-4 petitNom" id="Interets">Centres d'Intérets</h2>
                <div class="row col-12">
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="icon1 fas fa-gamepad fa-3x"></i>
                        <p>Jeu Vidéo</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-film fa-3x"></i>
                        <p>Cinéma</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-paint-brush fa-3x"></i>
                        <p>Arts et Design</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fab fa-rebel fa-3x"></i>
                        <p>Science-Fiction</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-cogs fa-3x"></i>
                        <p>SteamPunk</p>
                    </div>
                    <div class="hobbicon col-6 col-sm-3 col-md-2 text-center">
                        <i class="fas fa-chess fa-3x"></i>
                        <p>Jeux De Roles</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
{% endblock %}
