<div id="mySidenav" class="sidenav">
    <div class="container">
        <img class="bouille" src="image/Avatar.png" alt="ma tete en cubique" />
    </div>

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <ul id="accordion" class="accordion">
      <li>
        <a href="/" class="link"><i class="fas fa-home"></i>Accueil</a>
      </li>
      <li>
        <div class="link"><i class="fa fa-envelope"></i>Contact<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
          <li>
            <a class="nonClic">

              <p class="colorWhite"></i>johan.desplats@gmail.com</p>
              <p class="colorWhite">06 21 69 09 66</p>
              <p class="colorWhite">122 avenue Montjovis 87100 Limoges</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
</div>
