body {
    font-family: "Lato", sans-serif;
}

.burgerBtn {
    font-size:30px;
    color: #2d2d2d;
    cursor:pointer;
    position: fixed;
    z-index: 2000;
    margin-left: 3px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropdown-menu {
    display: none;
    background-color: #282828;
    padding-left: 8px;
    border: none;
    font-size: 17px;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

.nom {
    border-bottom: 3px solid #818181;
}

.petitNom {
    border-bottom: 2px solid #b1b1b1;
}

.toutPetitNom {
    border-bottom: 1px solid #b1b1b1;
}

.resume {
    color: #7a1111;
    font-size: 25px;
}

.redArrow {
    color: #7a1111;
}

.sitation {
    font-size: 20px;
}

.bouille {
    height: 220px;
    width: auto;
}

.aPropos {
    margin-top: 75px;
}

.btn.focus, .btn:focus {
    box-shadow: unset;
}

.btn-secondary {
    background-color: #282828;
}

.cursusText {
    font-size: 18px;
}

.subTitle {
    font-size: 20px;
}

.card {
    border: none;
}

.fa-gamepad:hover {
    color: #7a1111;
}

.fa-film:hover {
    color: #551987;
}

.fa-paint-brush:hover {
    color: #1e692d;
}

.fa-rebel:hover {
    color: #0087ff;
}

.fa-cogs:hover {
    color: #4b230f;
}

.fa-chess:hover {
    color: #828282;
}

.rowCompetence {
    padding-left: 0;
    padding-right: 0;
}

.rowSansPaddingR {
    padding-right: 0;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skillContainer {
    width: 100%; /* Full width */
    background-color: rgba(0,0,0,0.3); /* Grey background */
    padding: none;
    border-radius: 13px;
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    border-radius: 10px;
}

.anglais {width: 75%; background-color: #edbc2a;}
.francais {width: 98%; background-color: #1e692d;}
.espagnol {width: 50%; background-color: #aa1414;}

@media screen and (max-height: 670px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .contact {font-size: 18px;}
    .dropdown-btn {font-size: 18px;}
    .rubricTitle {font-size: 22px;}
    .subTitle {font-size: 19px;}
    .aPropos {margin-top: 10px;}
    .dropdown-menu {font-size: 14px;}
}

@media screen and (max-width: 1030px) {
    .rowSansMargin {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;}
    .bouille {height: 140px;}
}
